body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.btn-contact {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-contact:hover {
    background-color: #0056b3;
}